<ion-view title="home" >
    <ion-nav-buttons  side="left"  >
      <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
    </ion-nav-buttons>
    <ion-content>
      <div class="ban">
        <img src="img/logo_caem_200.jpg" alt="Logo Caem" class="img img-rounded img-responsive" >
      </div>
      <div class="action">
            <a href="#/app/search" ng-click="cat()" >
                    <button  class="button button-block icon-right ion-ios7-search-strong button-assertive" ng-click="recherche()">
                   Rechercher
                  </button>
            </a>
            <a href="#/app/commerce" title="" ng-click="loadCommerce()" nav-transition="android">
                    <button class="button button-block icon-right ion-ios7-cart button-assertive" >
                    Commerces
                  </button>
            </a>
            <a href="#/app/bonplan" title="" ng-click="Bp()">
                  <button class="button button-block icon-right ion-chevron-right button-assertive">
                      Bons Plans
                  </button>
            </a>
            <a href="#/app/favoris" title="">
               <button ng-click = "getFav()"class="button button-block icon-right ion-ios7-star button-assertive">
                Mes Favoris
              </button>
            </a>
            <a href="#/app/news"  title="" ng-click="getNews()">
                <button class="button button-block icon-right ion-ios7-star button-assertive">
                Quoi de neuf!
                </button>
             </a>
      </div>
   </ion-content>
</ion-view>
