<ion-view title="{{commerces.nom}}">
 <ion-tabs class="tabs-icon-top tabs-calm">
    <ion-tab title="Accueil"
        icon-on="ion-ios7-home" 
        icon-off="ion-ios7-home-outline" 
    >
      <ion-content class="has-header">
  		<!-- Contenu de l'onglet 1. ici se trouve la page personalisée de chaque commerces-->
      	<div>
      		<img src="http://lorempicsum.com/futurama/350/200/1" class="img-responsive" alt="Responsive image">
      	</div>
      	<div class="list-inset">
      		<div class="button-bar">
           		<a class="button"><i class="icon ion-ios7-telephone"></i><h6>Contact</h6></a>
            	<a class="button"><i class="icon ion-edit"></i><h6>Avis</h6></a>
            	<a class="button"><i class="icon ion-navigate"></i><h6>Itinéraire</h6></a>
            	<a class="button"><i class="icon ion-ios7-star-outline"></i><h6>Favoris</h6></a>
            </div>
      	</div>
        <div class="map">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      	<div class="list-inset">
      		<ion-list >
            	<ion-item class="item-icon-right">
        				Itinéraire
                <i class="icon ion-navigate"></i>
 			       </ion-item>
 			       <ion-item class="item-icon-right">
    			     	Galerie (Nbre de photos)       
                <i class="icon ion-images"></i>
 			       </ion-item>
             <ion-item class="item-icon-right">
                Conseils de l'expert(nbre de conseils)       
                <i class="icon ion-help-circled"></i>
             </ion-item>
 			       <ion-item class="item-icon-right">
    				    Avis (nbre d'avis)
                <i class="icon ion-edit"></i>
 			       </ion-item>
             <ion-item class="item-icon-right">
                Plus d'informations
                <i class="icon ion-information-circled"></i>
             </ion-item>
			     </ion-list>
      	</div>

    </ion-tab>
    <ion-tab title="Bons Plans" 
    icon-on="ion-ios7-star" 
    icon-off="ion-ios7-star-outline" >
    Hello tab 2!
	</ion-tab>

  </ion-tabs>
</ion-view>


  