/* Empty. Add your own CSS if you like */
.round{
	border-radius: 5px;
}
.profil-centre{
  text-align: -webkit-center;
  padding-top: 13px;
}
.map{
	margin-top: 10px;
	border:solid 2px;
}
.img-circle {
  border-radius: 50%;
}
.img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-thumbnail {
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}